/*!!!Fieldset!!!*/

fieldset {
		width: 90%;
		border: 1px solid #F25C00;
		border-radius: 10px;
		padding: 20px;
		color: firebrick;
		text-align: left;}
legend {
		background-color: #efefef;
		border: 1px solid #dcdcdc;
		border-radius: 10px;
		padding: 10px 20px;
		text-align: left;
		text-transform: uppercase;
}